player-connection-mode=Listen
player-connection-guid=625509424
player-connection-debug=0
player-connection-project-name=PhotonPun2
player-connection-ip=192.168.69.7
player-connection-ip=192.168.80.1
player-connection-ip=172.25.250.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
